node_modules/
desktop.ini
FolderStylerIcon.ico

# Резервные копии исходников
исходники/*_до_исправления_*.ts
исходники/*_резерв*.txt
исходники/ядро/*_до_исправления_*.ts
исходники/ядро/*_резерв*.ts

# Резервные и архивные результаты
результаты/*_до_исправления_*.js
результаты/*_резерв*.js
результаты/*_резерв*.txt
результаты/*_до_исправления_*.txt
